@import "./responsive.scss";

.layout {
   //  background-color: rebeccapurple;
    height: 100vh;
    max-width: 1366px; //1366 on 15 inch screen but my computer is 14 inch
   //  max-width: 900px; //if using bigger computer change to above!
   margin-left: auto;
   margin-right: auto;
   padding-left: 20px;
   padding-right: 20px;
   //**
   //  instead of using calc below we can use display flex and give the bottom one flex 1 : 
   // display: flex;
   // flex-direction: column;
   //**

//write includes in order - biggest screen is above then lg then md then sm
// if mobile first design reverse order of these 
   @include lg {
   //  background-color: rgb(247, 210, 196); //LM commented this out
     max-width: 1280px;  //LM
   //  max-width: 1000px; //becasue my screen is small but use the above
   }


   @include md {
   //  background-color: rgb(186, 203, 234);//LM commented this out
    max-width: 768px; //LM
  
   }


   @include sm {
   //  background-color: rgb(239, 200, 200);//LM commented this out
    max-width: 640px; //LM
   
   }

   .content {
      // background-color: rebeccapurple;
      // the nav is 100px - see navbar.scss so we want content to take up the rest. -cool
      //or use display flex on the layout and give this flex: 1
      height: calc(100vh - 100px);
      // flex: 1 //100px is the navbar and the rest is our content
   }
}
  
  